<div class="post-preview">
    <a class="post" href="posts/{{_id}}">
        <h2 class="post-title">{{title}}</h2>
        <p><span class="date">{{date}}</span> — <span class="author">{{author}}</span></p>
        <div class="post-body">{{{body}}}</div>
    </a>
</div>